
<div class="container" style="margin-left: 12%;">
    <div class="mt-3">
        <h2 class="mt-3">Gráfico de Vendas Mensal</h2>
    </div>
    <img src="~/Images/grafico.jpg" class="img-fluid" />
</div>
