<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SalesManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SalesManagement.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary">
            <div class="container-fluid d-flex justify-content-start">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Sales Management Studio </a>
                <img class="navbar-brand" src="~/Images/dollar-round-icon--18.png" width="25px" />
            </div>
        </nav>
    </header>
    <aside id="asideBar" class="col-2 col-md-2 col-lg-2">
        <ul class="nav flex-column">
            <li class="nav-item p-2">
                <a class="nav-link text-light" asp-controller="Home" asp-action="Index">Página inicial</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link text-light" asp-controller="Venda" asp-action="Index">Vendas</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link text-light" asp-controller="Vendedor" asp-action="Index">Vendedores</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link text-light" asp-controller="Produto" asp-action="Index">Produtos</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link text-light" asp-controller="Venda" asp-action="RelatorioVendas">Relatório de Vendas</a>
            </li>
            <li></li>
        </ul>
    </aside>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/0d12080531.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
