/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar {
    border-bottom: 1px solid #16222f;
}

#asideBar {
    border-right: 1px solid #d2d2d2;
    min-width: 20%;
    background-color: #2C3E50;
    position: absolute;
    height: 100%;
}

.nav {
    background-color: #2C3E50;
}

.nav-item {
    width: 100%;
}

.nav-item:hover {
    background-color: #16222f;
}

body {
    background-color: #d2d2d2;
}

main {
    margin-left: 20%;
}

a {
  color: #0077cc;
  font-size: 0.2em;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

